<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
       <ul class="navbar-nav">
   
           <li class="nav-item active">
   
            <a href= "#" class="nav-link">Home</a>
   
    
   
           <li class="nav-item">
   
               <a href= "#" class="nav-link">About</a>
   
        
   
           <li class="nav-item">
   
            <a href= "#" class="nav-link">Contact Us</a>
            
    <div role="main" class="container">
   
       <br/><br/>
   
       
   
   Employee Id: <%=empoyeeId %>
   
   
   
    </div>
   
    </body>
