<div role="main" class="container">

    <br/><br/>

    <h2>Names</h2>
// if statment started
    <% if (names.length > 0) { %>
        <% for (var k = 0; k <names.length; k++){ %>
           <div class="alert alert-success" role="alert"><strong><%= names[k] %></strong></div>

    <% } %>
    
    <% } %>


</div>
</html>